<%= div_for @option do %>
  <div class='option_delete'>
    <%= link_to 'x', @option, method: :delete,   remote: :true %>
  </div>

  <div class='option_result'>
    <h1><%= number_to_currency(@option.price_per_oz) %></h1>
  </div>

  <h1>Option <%= @option.id %> </h1>

  <div class='items'>
  </div>

  <button id='add_item_button'>Add Items</button>

  <%= render :partial => 'items/new'%>
<% end %>

