<%= div_for @item do %>
  <span><%= pluralize(@item.quantity, 'bottle') %> of <%= @item.category %></span>
  <span>for <%= number_to_currency(@item.price) %> </span><br>
  <span>@ <%=pluralize(number_with_precision(@item.volume, :precision => 2, :delimiter => ','), @item.volume_type) %> each </span>
  <%= link_to 'x', [@option, @item], method: :delete, remote: :true %>
<% end %>