<div class='new_item_form_div'>
  <%= form_for([@option, Item.new], remote: :true) do |f| %>
    <div class='user_input'>
      <%= f.label :category, 'type of booze' %><br>
      <%= f.select :category, ['beer', 'wine', 'liquor'] %><br>
    </div>

    <div class='user_input'>
      <%= f.label :name, 'name / style' %><br>
      <%= f.text_field :name, :class => 'name_input', :placeholder => "like 'bud light'", :value => 'budweiser' %><br>
      <button class='search_button'>Search (optional)</button>
      <div class='results'>
      </div>
    </div>

    <div class='user_input'>
      <%= f.label :quantity, '# of bottles' %><br>
      <%= f.number_field :quantity, :placeholder => '6', :value => 12 %><br>
    </div>

    <div class='user_input'>
      <%= f.label :volume, 'volume per bottle' %><br>
      <%= f.number_field :volume, :step => 'any', :placeholder => '12', :value => 12 %><br>
    </div>

    <div class='user_input'>
      <%= f.label :volume_type, 'in oz or ml' %><br>
      <%= f.select :volume_type, ['oz', 'ml'] %><br>
    </div>

    <div class='user_input'>
      <%= f.label :abv, 'abv %' %><br>
      <%= f.number_field :abv, :step => 'any', :class => 'item_abv', :value => 12 %><br>
    </div>

    <div class='user_input'>
      <%= f.label :price, 'total price' %><br>
      <%= f.number_field :price, :step => 'any', :placeholder => '0.00', :value => 12 %><br>
    </div>

    <div class='user_input submit'>
      <%= f.submit %>
    </div>
  <% end %>
</div>