<!DOCTYPE html>
<html>
<head>
  <title>BrokeBuzz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="header">
    <h1>BrokeBuzz</h1>
    <h2>get buzzed on the cheap</h2>
  </header>

  <%= render :partial => 'layouts/beer_background' %>

  <div id='main'>
    <%= button_to 'Get Started!', new_option_path, :id => 'add_option_button', :remote => true, method: :get %>
  </div>

<%= yield %>

</body>
</html>
